# Database
MONGODB_URI=mongodb://localhost:27017/news_aggregator

# News API
NEWS_API_KEY=your_news_api_key_here
NEWS_BASE_URL=https://newsdata.io/api

# JWT
JWT_SECRET_KEY=your_jwt_secret_key_here

# Flask
FLASK_ENV=development
FLASK_DEBUG=True
